.row {
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  overflow: hidden;
  list-style: none;
}
.row.center {
  text-align: center;
}
.column,
[class*="span-"],
[class*="column-"] {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  /* prevent collapsing columns */

  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  *display: inline;
  /* For IE6/IE7 */

  *zoom: 1;
  /* For IE6/IE7 */
}
.row {
  margin: 0 -10px;
  margin: 0 -2% \9;
}
.column,
[class*="span-"],
[class*="column-"] {
  margin: 0 10px;
  margin: 0 2% \9;
}
@media only screen and (max-width: 768px) {
  .row {
    margin: 0 -16px;
    margin: 0 -2% \9;
  }
  .column,
  [class*="span-"],
  [class*="column-"] {
    margin: 0 16px;
    margin: 0 2% \9;
  }
}
@media only screen and (max-width: 480px) {
  .row {
    margin: 0 -10px;
    margin: 0 -2% \9;
  }
  .column,
  [class*="span-"],
  [class*="column-"] {
    margin: 0 10px;
    margin: 0 2% \9;
  }
}
.span-1 {
  width: 6.333333333333334%;
  width: -webkit-calc(8.333333333333334% - 20px);
  width: -moz-calc(8.333333333333334% - 20px);
  width: -o-calc(8.333333333333334% - 20px);
  width: calc(8.333333333333334% - 20px);
}
.span-2 {
  width: 14.666666666666668%;
  width: -webkit-calc(16.666666666666668% - 20px);
  width: -moz-calc(16.666666666666668% - 20px);
  width: -o-calc(16.666666666666668% - 20px);
  width: calc(16.666666666666668% - 20px);
}
.span-3 {
  width: 23%;
  width: -webkit-calc(25% - 20px);
  width: -moz-calc(25% - 20px);
  width: -o-calc(25% - 20px);
  width: calc(25% - 20px);
}
.span-4 {
  width: 31.333333333333336%;
  width: -webkit-calc(33.333333333333336% - 20px);
  width: -moz-calc(33.333333333333336% - 20px);
  width: -o-calc(33.333333333333336% - 20px);
  width: calc(33.333333333333336% - 20px);
}
.span-5 {
  width: 39.66666666666667%;
  width: -webkit-calc(41.66666666666667% - 20px);
  width: -moz-calc(41.66666666666667% - 20px);
  width: -o-calc(41.66666666666667% - 20px);
  width: calc(41.66666666666667% - 20px);
}
.span-6 {
  width: 48%;
  width: -webkit-calc(50% - 20px);
  width: -moz-calc(50% - 20px);
  width: -o-calc(50% - 20px);
  width: calc(50% - 20px);
}
.span-7 {
  width: 56.333333333333336%;
  width: -webkit-calc(58.333333333333336% - 20px);
  width: -moz-calc(58.333333333333336% - 20px);
  width: -o-calc(58.333333333333336% - 20px);
  width: calc(58.333333333333336% - 20px);
}
.span-8 {
  width: 64.66666666666667%;
  width: -webkit-calc(66.66666666666667% - 20px);
  width: -moz-calc(66.66666666666667% - 20px);
  width: -o-calc(66.66666666666667% - 20px);
  width: calc(66.66666666666667% - 20px);
}
.span-9 {
  width: 73%;
  width: -webkit-calc(75% - 20px);
  width: -moz-calc(75% - 20px);
  width: -o-calc(75% - 20px);
  width: calc(75% - 20px);
}
.span-10 {
  width: 81.33333333333334%;
  width: -webkit-calc(83.33333333333334% - 20px);
  width: -moz-calc(83.33333333333334% - 20px);
  width: -o-calc(83.33333333333334% - 20px);
  width: calc(83.33333333333334% - 20px);
}
.span-11 {
  width: 89.66666666666667%;
  width: -webkit-calc(91.66666666666667% - 20px);
  width: -moz-calc(91.66666666666667% - 20px);
  width: -o-calc(91.66666666666667% - 20px);
  width: calc(91.66666666666667% - 20px);
}
.span-12 {
  width: 98%;
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: calc(100% - 20px);
}
.prefix-1 {
  margin-left: 10.333333333333334%;
  margin-left: -webkit-calc(8.333333333333334% + 20px);
  margin-left: -moz-calc(8.333333333333334% + 20px);
  margin-left: -o-calc(8.333333333333334% + 20px);
  margin-left: calc(8.333333333333334% + 20px);
}
.prefix-2 {
  margin-left: 18.666666666666668%;
  margin-left: -webkit-calc(16.666666666666668% + 20px);
  margin-left: -moz-calc(16.666666666666668% + 20px);
  margin-left: -o-calc(16.666666666666668% + 20px);
  margin-left: calc(16.666666666666668% + 20px);
}
.prefix-3 {
  margin-left: 27%;
  margin-left: -webkit-calc(25% + 20px);
  margin-left: -moz-calc(25% + 20px);
  margin-left: -o-calc(25% + 20px);
  margin-left: calc(25% + 20px);
}
.prefix-4 {
  margin-left: 35.333333333333336%;
  margin-left: -webkit-calc(33.333333333333336% + 20px);
  margin-left: -moz-calc(33.333333333333336% + 20px);
  margin-left: -o-calc(33.333333333333336% + 20px);
  margin-left: calc(33.333333333333336% + 20px);
}
.prefix-5 {
  margin-left: 43.66666666666667%;
  margin-left: -webkit-calc(41.66666666666667% + 20px);
  margin-left: -moz-calc(41.66666666666667% + 20px);
  margin-left: -o-calc(41.66666666666667% + 20px);
  margin-left: calc(41.66666666666667% + 20px);
}
.prefix-6 {
  margin-left: 52%;
  margin-left: -webkit-calc(50% + 20px);
  margin-left: -moz-calc(50% + 20px);
  margin-left: -o-calc(50% + 20px);
  margin-left: calc(50% + 20px);
}
.prefix-7 {
  margin-left: 60.333333333333336%;
  margin-left: -webkit-calc(58.333333333333336% + 20px);
  margin-left: -moz-calc(58.333333333333336% + 20px);
  margin-left: -o-calc(58.333333333333336% + 20px);
  margin-left: calc(58.333333333333336% + 20px);
}
.prefix-8 {
  margin-left: 68.66666666666667%;
  margin-left: -webkit-calc(66.66666666666667% + 20px);
  margin-left: -moz-calc(66.66666666666667% + 20px);
  margin-left: -o-calc(66.66666666666667% + 20px);
  margin-left: calc(66.66666666666667% + 20px);
}
.prefix-9 {
  margin-left: 77%;
  margin-left: -webkit-calc(75% + 20px);
  margin-left: -moz-calc(75% + 20px);
  margin-left: -o-calc(75% + 20px);
  margin-left: calc(75% + 20px);
}
.prefix-10 {
  margin-left: 85.33333333333334%;
  margin-left: -webkit-calc(83.33333333333334% + 20px);
  margin-left: -moz-calc(83.33333333333334% + 20px);
  margin-left: -o-calc(83.33333333333334% + 20px);
  margin-left: calc(83.33333333333334% + 20px);
}
.prefix-11 {
  margin-left: 93.66666666666667%;
  margin-left: -webkit-calc(91.66666666666667% + 20px);
  margin-left: -moz-calc(91.66666666666667% + 20px);
  margin-left: -o-calc(91.66666666666667% + 20px);
  margin-left: calc(91.66666666666667% + 20px);
}
.suffix-1 {
  margin-right: 8.333333333333334%;
}
.suffix-2 {
  margin-right: 16.666666666666668%;
}
.suffix-3 {
  margin-right: 25%;
}
.suffix-4 {
  margin-right: 33.333333333333336%;
}
.suffix-5 {
  margin-right: 41.66666666666667%;
}
.suffix-6 {
  margin-right: 50%;
}
.suffix-7 {
  margin-right: 58.333333333333336%;
}
.suffix-8 {
  margin-right: 66.66666666666667%;
}
.suffix-9 {
  margin-right: 75%;
}
.suffix-10 {
  margin-right: 83.33333333333334%;
}
.suffix-11 {
  margin-right: 91.66666666666667%;
}
.no-spacing {
  margin: 0;
}
.no-spacing .span-1 {
  width: 8.333333333333334%;
  margin: 0;
}
.no-spacing .span-2 {
  width: 16.666666666666668%;
  margin: 0;
}
.no-spacing .span-3 {
  width: 25%;
  margin: 0;
}
.no-spacing .span-4 {
  width: 33.333333333333336%;
  margin: 0;
}
.no-spacing .span-5 {
  width: 41.66666666666667%;
  margin: 0;
}
.no-spacing .span-6 {
  width: 50%;
  margin: 0;
}
.no-spacing .span-7 {
  width: 58.333333333333336%;
  margin: 0;
}
.no-spacing .span-8 {
  width: 66.66666666666667%;
  margin: 0;
}
.no-spacing .span-9 {
  width: 75%;
  margin: 0;
}
.no-spacing .span-10 {
  width: 83.33333333333334%;
  margin: 0;
}
.no-spacing .span-11 {
  width: 91.66666666666667%;
  margin: 0;
}
.no-spacing .span-12 {
  width: 100%;
  margin: 0;
}
.no-spacing .prefix-1 {
  margin-left: 8.333333333333334%;
}
.no-spacing .prefix-2 {
  margin-left: 16.666666666666668%;
}
.no-spacing .prefix-3 {
  margin-left: 25%;
}
.no-spacing .prefix-4 {
  margin-left: 33.333333333333336%;
}
.no-spacing .prefix-5 {
  margin-left: 41.66666666666667%;
}
.no-spacing .prefix-6 {
  margin-left: 50%;
}
.no-spacing .prefix-7 {
  margin-left: 58.333333333333336%;
}
.no-spacing .prefix-8 {
  margin-left: 66.66666666666667%;
}
.no-spacing .prefix-9 {
  margin-left: 75%;
}
.no-spacing .prefix-10 {
  margin-left: 83.33333333333334%;
}
.no-spacing .prefix-11 {
  margin-left: 91.66666666666667%;
}
.no-spacing .suffix-1 {
  margin-right: 8.333333333333334%;
}
.no-spacing .suffix-2 {
  margin-right: 16.666666666666668%;
}
.no-spacing .suffix-3 {
  margin-right: 25%;
}
.no-spacing .suffix-4 {
  margin-right: 33.333333333333336%;
}
.no-spacing .suffix-5 {
  margin-right: 41.66666666666667%;
}
.no-spacing .suffix-6 {
  margin-right: 50%;
}
.no-spacing .suffix-7 {
  margin-right: 58.333333333333336%;
}
.no-spacing .suffix-8 {
  margin-right: 66.66666666666667%;
}
.no-spacing .suffix-9 {
  margin-right: 75%;
}
.no-spacing .suffix-10 {
  margin-right: 83.33333333333334%;
}
.no-spacing .suffix-11 {
  margin-right: 91.66666666666667%;
}
@media only screen and (max-width: 768px) {
  .tablet-span-1 {
    width: 8%;
    width: -webkit-calc(10% - 20px);
    width: -moz-calc(10% - 20px);
    width: -o-calc(10% - 20px);
    width: calc(10% - 20px);
  }
  .tablet-span-2 {
    width: 18%;
    width: -webkit-calc(20% - 20px);
    width: -moz-calc(20% - 20px);
    width: -o-calc(20% - 20px);
    width: calc(20% - 20px);
  }
  .tablet-span-3 {
    width: 28%;
    width: -webkit-calc(30% - 20px);
    width: -moz-calc(30% - 20px);
    width: -o-calc(30% - 20px);
    width: calc(30% - 20px);
  }
  .tablet-span-4 {
    width: 38%;
    width: -webkit-calc(40% - 20px);
    width: -moz-calc(40% - 20px);
    width: -o-calc(40% - 20px);
    width: calc(40% - 20px);
  }
  .tablet-span-5 {
    width: 48%;
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -o-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  .tablet-span-6 {
    width: 58%;
    width: -webkit-calc(60% - 20px);
    width: -moz-calc(60% - 20px);
    width: -o-calc(60% - 20px);
    width: calc(60% - 20px);
  }
  .tablet-span-7 {
    width: 68%;
    width: -webkit-calc(70% - 20px);
    width: -moz-calc(70% - 20px);
    width: -o-calc(70% - 20px);
    width: calc(70% - 20px);
  }
  .tablet-span-8 {
    width: 78%;
    width: -webkit-calc(80% - 20px);
    width: -moz-calc(80% - 20px);
    width: -o-calc(80% - 20px);
    width: calc(80% - 20px);
  }
  .tablet-span-9 {
    width: 88%;
    width: -webkit-calc(90% - 20px);
    width: -moz-calc(90% - 20px);
    width: -o-calc(90% - 20px);
    width: calc(90% - 20px);
  }
  .tablet-span-10 {
    width: 98%;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .tablet-prefix-1 {
    margin-left: 12%;
    margin-left: -webkit-calc(10% + 20px);
    margin-left: -moz-calc(10% + 20px);
    margin-left: -o-calc(10% + 20px);
    margin-left: calc(10% + 20px);
  }
  .tablet-prefix-2 {
    margin-left: 22%;
    margin-left: -webkit-calc(20% + 20px);
    margin-left: -moz-calc(20% + 20px);
    margin-left: -o-calc(20% + 20px);
    margin-left: calc(20% + 20px);
  }
  .tablet-prefix-3 {
    margin-left: 32%;
    margin-left: -webkit-calc(30% + 20px);
    margin-left: -moz-calc(30% + 20px);
    margin-left: -o-calc(30% + 20px);
    margin-left: calc(30% + 20px);
  }
  .tablet-prefix-4 {
    margin-left: 42%;
    margin-left: -webkit-calc(40% + 20px);
    margin-left: -moz-calc(40% + 20px);
    margin-left: -o-calc(40% + 20px);
    margin-left: calc(40% + 20px);
  }
  .tablet-prefix-5 {
    margin-left: 52%;
    margin-left: -webkit-calc(50% + 20px);
    margin-left: -moz-calc(50% + 20px);
    margin-left: -o-calc(50% + 20px);
    margin-left: calc(50% + 20px);
  }
  .tablet-prefix-6 {
    margin-left: 62%;
    margin-left: -webkit-calc(60% + 20px);
    margin-left: -moz-calc(60% + 20px);
    margin-left: -o-calc(60% + 20px);
    margin-left: calc(60% + 20px);
  }
  .tablet-prefix-7 {
    margin-left: 72%;
    margin-left: -webkit-calc(70% + 20px);
    margin-left: -moz-calc(70% + 20px);
    margin-left: -o-calc(70% + 20px);
    margin-left: calc(70% + 20px);
  }
  .tablet-prefix-8 {
    margin-left: 82%;
    margin-left: -webkit-calc(80% + 20px);
    margin-left: -moz-calc(80% + 20px);
    margin-left: -o-calc(80% + 20px);
    margin-left: calc(80% + 20px);
  }
  .tablet-prefix-9 {
    margin-left: 92%;
    margin-left: -webkit-calc(90% + 20px);
    margin-left: -moz-calc(90% + 20px);
    margin-left: -o-calc(90% + 20px);
    margin-left: calc(90% + 20px);
  }
  .tablet-suffix-1 {
    margin-right: 10%;
  }
  .tablet-suffix-2 {
    margin-right: 20%;
  }
  .tablet-suffix-3 {
    margin-right: 30%;
  }
  .tablet-suffix-4 {
    margin-right: 40%;
  }
  .tablet-suffix-5 {
    margin-right: 50%;
  }
  .tablet-suffix-6 {
    margin-right: 60%;
  }
  .tablet-suffix-7 {
    margin-right: 70%;
  }
  .tablet-suffix-8 {
    margin-right: 80%;
  }
  .tablet-suffix-9 {
    margin-right: 90%;
  }
  .no-spacing {
    margin: 0;
  }
  .no-spacing .tablet-span-1 {
    width: 10%;
    margin: 0;
  }
  .no-spacing .tablet-span-2 {
    width: 20%;
    margin: 0;
  }
  .no-spacing .tablet-span-3 {
    width: 30%;
    margin: 0;
  }
  .no-spacing .tablet-span-4 {
    width: 40%;
    margin: 0;
  }
  .no-spacing .tablet-span-5 {
    width: 50%;
    margin: 0;
  }
  .no-spacing .tablet-span-6 {
    width: 60%;
    margin: 0;
  }
  .no-spacing .tablet-span-7 {
    width: 70%;
    margin: 0;
  }
  .no-spacing .tablet-span-8 {
    width: 80%;
    margin: 0;
  }
  .no-spacing .tablet-span-9 {
    width: 90%;
    margin: 0;
  }
  .no-spacing .tablet-span-10 {
    width: 100%;
    margin: 0;
  }
  .no-spacing .tablet-prefix-1 {
    margin-left: 10%;
  }
  .no-spacing .tablet-prefix-2 {
    margin-left: 20%;
  }
  .no-spacing .tablet-prefix-3 {
    margin-left: 30%;
  }
  .no-spacing .tablet-prefix-4 {
    margin-left: 40%;
  }
  .no-spacing .tablet-prefix-5 {
    margin-left: 50%;
  }
  .no-spacing .tablet-prefix-6 {
    margin-left: 60%;
  }
  .no-spacing .tablet-prefix-7 {
    margin-left: 70%;
  }
  .no-spacing .tablet-prefix-8 {
    margin-left: 80%;
  }
  .no-spacing .tablet-prefix-9 {
    margin-left: 90%;
  }
  .no-spacing .tablet-suffix-1 {
    margin-right: 10%;
  }
  .no-spacing .tablet-suffix-2 {
    margin-right: 20%;
  }
  .no-spacing .tablet-suffix-3 {
    margin-right: 30%;
  }
  .no-spacing .tablet-suffix-4 {
    margin-right: 40%;
  }
  .no-spacing .tablet-suffix-5 {
    margin-right: 50%;
  }
  .no-spacing .tablet-suffix-6 {
    margin-right: 60%;
  }
  .no-spacing .tablet-suffix-7 {
    margin-right: 70%;
  }
  .no-spacing .tablet-suffix-8 {
    margin-right: 80%;
  }
  .no-spacing .tablet-suffix-9 {
    margin-right: 90%;
  }
}
@media only screen and (max-width: 480px) {
  .mobile-span-1 {
    width: 14.666666666666668%;
    width: -webkit-calc(16.666666666666668% - 20px);
    width: -moz-calc(16.666666666666668% - 20px);
    width: -o-calc(16.666666666666668% - 20px);
    width: calc(16.666666666666668% - 20px);
  }
  .mobile-span-2 {
    width: 31.333333333333336%;
    width: -webkit-calc(33.333333333333336% - 20px);
    width: -moz-calc(33.333333333333336% - 20px);
    width: -o-calc(33.333333333333336% - 20px);
    width: calc(33.333333333333336% - 20px);
  }
  .mobile-span-3 {
    width: 48%;
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -o-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  .mobile-span-4 {
    width: 64.66666666666667%;
    width: -webkit-calc(66.66666666666667% - 20px);
    width: -moz-calc(66.66666666666667% - 20px);
    width: -o-calc(66.66666666666667% - 20px);
    width: calc(66.66666666666667% - 20px);
  }
  .mobile-span-5 {
    width: 81.33333333333334%;
    width: -webkit-calc(83.33333333333334% - 20px);
    width: -moz-calc(83.33333333333334% - 20px);
    width: -o-calc(83.33333333333334% - 20px);
    width: calc(83.33333333333334% - 20px);
  }
  .mobile-span-6 {
    width: 98%;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .mobile-prefix-1 {
    margin-left: 18.666666666666668%;
    margin-left: -webkit-calc(16.666666666666668% + 20px);
    margin-left: -moz-calc(16.666666666666668% + 20px);
    margin-left: -o-calc(16.666666666666668% + 20px);
    margin-left: calc(16.666666666666668% + 20px);
  }
  .mobile-prefix-2 {
    margin-left: 35.333333333333336%;
    margin-left: -webkit-calc(33.333333333333336% + 20px);
    margin-left: -moz-calc(33.333333333333336% + 20px);
    margin-left: -o-calc(33.333333333333336% + 20px);
    margin-left: calc(33.333333333333336% + 20px);
  }
  .mobile-prefix-3 {
    margin-left: 52%;
    margin-left: -webkit-calc(50% + 20px);
    margin-left: -moz-calc(50% + 20px);
    margin-left: -o-calc(50% + 20px);
    margin-left: calc(50% + 20px);
  }
  .mobile-prefix-4 {
    margin-left: 68.66666666666667%;
    margin-left: -webkit-calc(66.66666666666667% + 20px);
    margin-left: -moz-calc(66.66666666666667% + 20px);
    margin-left: -o-calc(66.66666666666667% + 20px);
    margin-left: calc(66.66666666666667% + 20px);
  }
  .mobile-prefix-5 {
    margin-left: 85.33333333333334%;
    margin-left: -webkit-calc(83.33333333333334% + 20px);
    margin-left: -moz-calc(83.33333333333334% + 20px);
    margin-left: -o-calc(83.33333333333334% + 20px);
    margin-left: calc(83.33333333333334% + 20px);
  }
  .mobile-suffix-1 {
    margin-right: 16.666666666666668%;
  }
  .mobile-suffix-2 {
    margin-right: 33.333333333333336%;
  }
  .mobile-suffix-3 {
    margin-right: 50%;
  }
  .mobile-suffix-4 {
    margin-right: 66.66666666666667%;
  }
  .mobile-suffix-5 {
    margin-right: 83.33333333333334%;
  }
  .no-spacing {
    margin: 0;
  }
  .no-spacing .mobile-span-1 {
    width: 16.666666666666668%;
    margin: 0;
  }
  .no-spacing .mobile-span-2 {
    width: 33.333333333333336%;
    margin: 0;
  }
  .no-spacing .mobile-span-3 {
    width: 50%;
    margin: 0;
  }
  .no-spacing .mobile-span-4 {
    width: 66.66666666666667%;
    margin: 0;
  }
  .no-spacing .mobile-span-5 {
    width: 83.33333333333334%;
    margin: 0;
  }
  .no-spacing .mobile-span-6 {
    width: 100%;
    margin: 0;
  }
  .no-spacing .mobile-prefix-1 {
    margin-left: 16.666666666666668%;
  }
  .no-spacing .mobile-prefix-2 {
    margin-left: 33.333333333333336%;
  }
  .no-spacing .mobile-prefix-3 {
    margin-left: 50%;
  }
  .no-spacing .mobile-prefix-4 {
    margin-left: 66.66666666666667%;
  }
  .no-spacing .mobile-prefix-5 {
    margin-left: 83.33333333333334%;
  }
  .no-spacing .mobile-suffix-1 {
    margin-right: 16.666666666666668%;
  }
  .no-spacing .mobile-suffix-2 {
    margin-right: 33.333333333333336%;
  }
  .no-spacing .mobile-suffix-3 {
    margin-right: 50%;
  }
  .no-spacing .mobile-suffix-4 {
    margin-right: 66.66666666666667%;
  }
  .no-spacing .mobile-suffix-5 {
    margin-right: 83.33333333333334%;
  }
}
.has-1 .column {
  width: 98%;
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: calc(100% - 20px);
}
.has-2 .column {
  width: 48%;
  width: -webkit-calc(50% - 20px);
  width: -moz-calc(50% - 20px);
  width: -o-calc(50% - 20px);
  width: calc(50% - 20px);
}
.has-3 .column {
  width: 31.333333333333336%;
  width: -webkit-calc(33.333333333333336% - 20px);
  width: -moz-calc(33.333333333333336% - 20px);
  width: -o-calc(33.333333333333336% - 20px);
  width: calc(33.333333333333336% - 20px);
}
.has-4 .column {
  width: 23%;
  width: -webkit-calc(25% - 20px);
  width: -moz-calc(25% - 20px);
  width: -o-calc(25% - 20px);
  width: calc(25% - 20px);
}
.has-5 .column {
  width: 18%;
  width: -webkit-calc(20% - 20px);
  width: -moz-calc(20% - 20px);
  width: -o-calc(20% - 20px);
  width: calc(20% - 20px);
}
.has-6 .column {
  width: 14.666666666666668%;
  width: -webkit-calc(16.666666666666668% - 20px);
  width: -moz-calc(16.666666666666668% - 20px);
  width: -o-calc(16.666666666666668% - 20px);
  width: calc(16.666666666666668% - 20px);
}
.has-7 .column {
  width: 12.285714285714286%;
  width: -webkit-calc(14.285714285714286% - 20px);
  width: -moz-calc(14.285714285714286% - 20px);
  width: -o-calc(14.285714285714286% - 20px);
  width: calc(14.285714285714286% - 20px);
}
.has-8 .column {
  width: 10.5%;
  width: -webkit-calc(12.5% - 20px);
  width: -moz-calc(12.5% - 20px);
  width: -o-calc(12.5% - 20px);
  width: calc(12.5% - 20px);
}
.has-9 .column {
  width: 9.11111111111111%;
  width: -webkit-calc(11.11111111111111% - 20px);
  width: -moz-calc(11.11111111111111% - 20px);
  width: -o-calc(11.11111111111111% - 20px);
  width: calc(11.11111111111111% - 20px);
}
.has-10 .column {
  width: 8%;
  width: -webkit-calc(10% - 20px);
  width: -moz-calc(10% - 20px);
  width: -o-calc(10% - 20px);
  width: calc(10% - 20px);
}
.has-11 .column {
  width: 7.090909090909092%;
  width: -webkit-calc(9.090909090909092% - 20px);
  width: -moz-calc(9.090909090909092% - 20px);
  width: -o-calc(9.090909090909092% - 20px);
  width: calc(9.090909090909092% - 20px);
}
.has-12 .column {
  width: 6.333333333333334%;
  width: -webkit-calc(8.333333333333334% - 20px);
  width: -moz-calc(8.333333333333334% - 20px);
  width: -o-calc(8.333333333333334% - 20px);
  width: calc(8.333333333333334% - 20px);
}
.has-1.no-spacing {
  margin: 0;
}
.has-1.no-spacing .column {
  width: 100%;
  margin: 0;
}
.has-2.no-spacing {
  margin: 0;
}
.has-2.no-spacing .column {
  width: 50%;
  margin: 0;
}
.has-3.no-spacing {
  margin: 0;
}
.has-3.no-spacing .column {
  width: 33.333333333333336%;
  margin: 0;
}
.has-4.no-spacing {
  margin: 0;
}
.has-4.no-spacing .column {
  width: 25%;
  margin: 0;
}
.has-5.no-spacing {
  margin: 0;
}
.has-5.no-spacing .column {
  width: 20%;
  margin: 0;
}
.has-6.no-spacing {
  margin: 0;
}
.has-6.no-spacing .column {
  width: 16.666666666666668%;
  margin: 0;
}
.has-7.no-spacing {
  margin: 0;
}
.has-7.no-spacing .column {
  width: 14.285714285714286%;
  margin: 0;
}
.has-8.no-spacing {
  margin: 0;
}
.has-8.no-spacing .column {
  width: 12.5%;
  margin: 0;
}
.has-9.no-spacing {
  margin: 0;
}
.has-9.no-spacing .column {
  width: 11.11111111111111%;
  margin: 0;
}
.has-10.no-spacing {
  margin: 0;
}
.has-10.no-spacing .column {
  width: 10%;
  margin: 0;
}
.has-11.no-spacing {
  margin: 0;
}
.has-11.no-spacing .column {
  width: 9.090909090909092%;
  margin: 0;
}
.has-12.no-spacing {
  margin: 0;
}
.has-12.no-spacing .column {
  width: 8.333333333333334%;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .tablet-has-1 .column {
    width: 98%;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .tablet-has-2 .column {
    width: 48%;
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -o-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  .tablet-has-3 .column {
    width: 31.333333333333336%;
    width: -webkit-calc(33.333333333333336% - 20px);
    width: -moz-calc(33.333333333333336% - 20px);
    width: -o-calc(33.333333333333336% - 20px);
    width: calc(33.333333333333336% - 20px);
  }
  .tablet-has-4 .column {
    width: 23%;
    width: -webkit-calc(25% - 20px);
    width: -moz-calc(25% - 20px);
    width: -o-calc(25% - 20px);
    width: calc(25% - 20px);
  }
  .tablet-has-5 .column {
    width: 18%;
    width: -webkit-calc(20% - 20px);
    width: -moz-calc(20% - 20px);
    width: -o-calc(20% - 20px);
    width: calc(20% - 20px);
  }
  .tablet-has-6 .column {
    width: 14.666666666666668%;
    width: -webkit-calc(16.666666666666668% - 20px);
    width: -moz-calc(16.666666666666668% - 20px);
    width: -o-calc(16.666666666666668% - 20px);
    width: calc(16.666666666666668% - 20px);
  }
  .tablet-has-7 .column {
    width: 12.285714285714286%;
    width: -webkit-calc(14.285714285714286% - 20px);
    width: -moz-calc(14.285714285714286% - 20px);
    width: -o-calc(14.285714285714286% - 20px);
    width: calc(14.285714285714286% - 20px);
  }
  .tablet-has-8 .column {
    width: 10.5%;
    width: -webkit-calc(12.5% - 20px);
    width: -moz-calc(12.5% - 20px);
    width: -o-calc(12.5% - 20px);
    width: calc(12.5% - 20px);
  }
  .tablet-has-9 .column {
    width: 9.11111111111111%;
    width: -webkit-calc(11.11111111111111% - 20px);
    width: -moz-calc(11.11111111111111% - 20px);
    width: -o-calc(11.11111111111111% - 20px);
    width: calc(11.11111111111111% - 20px);
  }
  .tablet-has-10 .column {
    width: 8%;
    width: -webkit-calc(10% - 20px);
    width: -moz-calc(10% - 20px);
    width: -o-calc(10% - 20px);
    width: calc(10% - 20px);
  }
  .tablet-has-11 .column {
    width: 7.090909090909092%;
    width: -webkit-calc(9.090909090909092% - 20px);
    width: -moz-calc(9.090909090909092% - 20px);
    width: -o-calc(9.090909090909092% - 20px);
    width: calc(9.090909090909092% - 20px);
  }
  .tablet-has-12 .column {
    width: 6.333333333333334%;
    width: -webkit-calc(8.333333333333334% - 20px);
    width: -moz-calc(8.333333333333334% - 20px);
    width: -o-calc(8.333333333333334% - 20px);
    width: calc(8.333333333333334% - 20px);
  }
  .tablet-has-1.no-spacing {
    margin: 0;
  }
  .tablet-has-1.no-spacing .column {
    width: 100%;
    margin: 0;
  }
  .tablet-has-2.no-spacing {
    margin: 0;
  }
  .tablet-has-2.no-spacing .column {
    width: 50%;
    margin: 0;
  }
  .tablet-has-3.no-spacing {
    margin: 0;
  }
  .tablet-has-3.no-spacing .column {
    width: 33.333333333333336%;
    margin: 0;
  }
  .tablet-has-4.no-spacing {
    margin: 0;
  }
  .tablet-has-4.no-spacing .column {
    width: 25%;
    margin: 0;
  }
  .tablet-has-5.no-spacing {
    margin: 0;
  }
  .tablet-has-5.no-spacing .column {
    width: 20%;
    margin: 0;
  }
  .tablet-has-6.no-spacing {
    margin: 0;
  }
  .tablet-has-6.no-spacing .column {
    width: 16.666666666666668%;
    margin: 0;
  }
  .tablet-has-7.no-spacing {
    margin: 0;
  }
  .tablet-has-7.no-spacing .column {
    width: 14.285714285714286%;
    margin: 0;
  }
  .tablet-has-8.no-spacing {
    margin: 0;
  }
  .tablet-has-8.no-spacing .column {
    width: 12.5%;
    margin: 0;
  }
  .tablet-has-9.no-spacing {
    margin: 0;
  }
  .tablet-has-9.no-spacing .column {
    width: 11.11111111111111%;
    margin: 0;
  }
  .tablet-has-10.no-spacing {
    margin: 0;
  }
  .tablet-has-10.no-spacing .column {
    width: 10%;
    margin: 0;
  }
  .tablet-has-11.no-spacing {
    margin: 0;
  }
  .tablet-has-11.no-spacing .column {
    width: 9.090909090909092%;
    margin: 0;
  }
  .tablet-has-12.no-spacing {
    margin: 0;
  }
  .tablet-has-12.no-spacing .column {
    width: 8.333333333333334%;
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .mobile-has-1 .column {
    width: 98%;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .mobile-has-2 .column {
    width: 48%;
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -o-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  .mobile-has-3 .column {
    width: 31.333333333333336%;
    width: -webkit-calc(33.333333333333336% - 20px);
    width: -moz-calc(33.333333333333336% - 20px);
    width: -o-calc(33.333333333333336% - 20px);
    width: calc(33.333333333333336% - 20px);
  }
  .mobile-has-4 .column {
    width: 23%;
    width: -webkit-calc(25% - 20px);
    width: -moz-calc(25% - 20px);
    width: -o-calc(25% - 20px);
    width: calc(25% - 20px);
  }
  .mobile-has-5 .column {
    width: 18%;
    width: -webkit-calc(20% - 20px);
    width: -moz-calc(20% - 20px);
    width: -o-calc(20% - 20px);
    width: calc(20% - 20px);
  }
  .mobile-has-6 .column {
    width: 14.666666666666668%;
    width: -webkit-calc(16.666666666666668% - 20px);
    width: -moz-calc(16.666666666666668% - 20px);
    width: -o-calc(16.666666666666668% - 20px);
    width: calc(16.666666666666668% - 20px);
  }
  .mobile-has-1.no-spacing {
    margin: 0;
  }
  .mobile-has-1.no-spacing .column {
    width: 100%;
    margin: 0;
  }
  .mobile-has-2.no-spacing {
    margin: 0;
  }
  .mobile-has-2.no-spacing .column {
    width: 50%;
    margin: 0;
  }
  .mobile-has-3.no-spacing {
    margin: 0;
  }
  .mobile-has-3.no-spacing .column {
    width: 33.333333333333336%;
    margin: 0;
  }
  .mobile-has-4.no-spacing {
    margin: 0;
  }
  .mobile-has-4.no-spacing .column {
    width: 25%;
    margin: 0;
  }
  .mobile-has-5.no-spacing {
    margin: 0;
  }
  .mobile-has-5.no-spacing .column {
    width: 20%;
    margin: 0;
  }
  .mobile-has-6.no-spacing {
    margin: 0;
  }
  .mobile-has-6.no-spacing .column {
    width: 16.666666666666668%;
    margin: 0;
  }
}
.row .full {
  width: 98%;
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: calc(100% - 20px);
}
.row .half,
.row .two-fourth,
.row .three-sixth {
  width: 48%;
  width: -webkit-calc(50% - 20px);
  width: -moz-calc(50% - 20px);
  width: -o-calc(50% - 20px);
  width: calc(50% - 20px);
}
.row .third,
.row .two-sixth {
  width: 31.3333%;
  width: -webkit-calc(33.3333% - 20px);
  width: -moz-calc(33.3333% - 20px);
  width: -o-calc(33.3333% - 20px);
  width: calc(33.3333% - 20px);
}
.row .two-third {
  width: 64.6666%;
  width: -webkit-calc(66.6666% - 20px);
  width: -moz-calc(66.6666% - 20px);
  width: -o-calc(66.6666% - 20px);
  width: calc(66.6666% - 20px);
}
.row .fourth {
  width: 23%;
  width: -webkit-calc(25% - 20px);
  width: -moz-calc(25% - 20px);
  width: -o-calc(25% - 20px);
  width: calc(25% - 20px);
}
.row .three-fourth {
  width: 73%;
  width: -webkit-calc(75% - 20px);
  width: -moz-calc(75% - 20px);
  width: -o-calc(75% - 20px);
  width: calc(75% - 20px);
}
.row .fifth {
  width: 18%;
  width: -webkit-calc(20% - 20px);
  width: -moz-calc(20% - 20px);
  width: -o-calc(20% - 20px);
  width: calc(20% - 20px);
}
.row .two-fifth {
  width: 38%;
  width: -webkit-calc(40% - 20px);
  width: -moz-calc(40% - 20px);
  width: -o-calc(40% - 20px);
  width: calc(40% - 20px);
}
.row .three-fifth {
  width: 58%;
  width: -webkit-calc(60% - 20px);
  width: -moz-calc(60% - 20px);
  width: -o-calc(60% - 20px);
  width: calc(60% - 20px);
}
.row .four-fifth {
  width: 78%;
  width: -webkit-calc(80% - 20px);
  width: -moz-calc(80% - 20px);
  width: -o-calc(80% - 20px);
  width: calc(80% - 20px);
}
.row .sixth {
  width: 14.666599999999999%;
  width: -webkit-calc(16.6666% - 20px);
  width: -moz-calc(16.6666% - 20px);
  width: -o-calc(16.6666% - 20px);
  width: calc(16.6666% - 20px);
}
.row .five-sixth {
  width: 81.3333%;
  width: -webkit-calc(83.3333% - 20px);
  width: -moz-calc(83.3333% - 20px);
  width: -o-calc(83.3333% - 20px);
  width: calc(83.3333% - 20px);
}
.row.no-spacing .full {
  width: 100%;
  margin: 0;
}
.row.no-spacing .half {
  width: 50%;
  margin: 0;
}
.row.no-spacing .third {
  width: 33.3333%;
  margin: 0;
}
.row.no-spacing .two-third {
  width: 66.6666%;
  margin: 0;
}
.row.no-spacing .fourth {
  width: 25%;
  margin: 0;
}
.row.no-spacing .three-fourth {
  width: 75%;
  margin: 0;
}
.row.no-spacing .fifth {
  width: 20%;
  margin: 0;
}
.row.no-spacing .two-fifth {
  width: 40%;
  margin: 0;
}
.row.no-spacing .three-fifth {
  width: 60%;
  margin: 0;
}
.row.no-spacing .four-fifth {
  width: 80%;
  margin: 0;
}
.row.no-spacing .sixth {
  width: 16.6666%;
  margin: 0;
}
.row.no-spacing .five-sixth {
  width: 83.3333%;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .row .tablet-full {
    width: 98%;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .row .tablet-half,
  .row .tablet-two-fourth,
  .row .tablet-three-sixth {
    width: 48%;
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -o-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  .row .tablet-third,
  .row .tablet-two-sixth {
    width: 31.3333%;
    width: -webkit-calc(33.3333% - 20px);
    width: -moz-calc(33.3333% - 20px);
    width: -o-calc(33.3333% - 20px);
    width: calc(33.3333% - 20px);
  }
  .row .tablet-two-third {
    width: 64.6666%;
    width: -webkit-calc(66.6666% - 20px);
    width: -moz-calc(66.6666% - 20px);
    width: -o-calc(66.6666% - 20px);
    width: calc(66.6666% - 20px);
  }
  .row .tablet-fourth {
    width: 23%;
    width: -webkit-calc(25% - 20px);
    width: -moz-calc(25% - 20px);
    width: -o-calc(25% - 20px);
    width: calc(25% - 20px);
  }
  .row .tablet-three-fourth {
    width: 73%;
    width: -webkit-calc(75% - 20px);
    width: -moz-calc(75% - 20px);
    width: -o-calc(75% - 20px);
    width: calc(75% - 20px);
  }
  .row .tablet-fifth {
    width: 18%;
    width: -webkit-calc(20% - 20px);
    width: -moz-calc(20% - 20px);
    width: -o-calc(20% - 20px);
    width: calc(20% - 20px);
  }
  .row .tablet-two-fifth {
    width: 38%;
    width: -webkit-calc(40% - 20px);
    width: -moz-calc(40% - 20px);
    width: -o-calc(40% - 20px);
    width: calc(40% - 20px);
  }
  .row .tablet-three-fifth {
    width: 58%;
    width: -webkit-calc(60% - 20px);
    width: -moz-calc(60% - 20px);
    width: -o-calc(60% - 20px);
    width: calc(60% - 20px);
  }
  .row .tablet-four-fifth {
    width: 78%;
    width: -webkit-calc(80% - 20px);
    width: -moz-calc(80% - 20px);
    width: -o-calc(80% - 20px);
    width: calc(80% - 20px);
  }
  .row .tablet-sixth {
    width: 14.666599999999999%;
    width: -webkit-calc(16.6666% - 20px);
    width: -moz-calc(16.6666% - 20px);
    width: -o-calc(16.6666% - 20px);
    width: calc(16.6666% - 20px);
  }
  .row .tablet-five-sixth {
    width: 81.3333%;
    width: -webkit-calc(83.3333% - 20px);
    width: -moz-calc(83.3333% - 20px);
    width: -o-calc(83.3333% - 20px);
    width: calc(83.3333% - 20px);
  }
  .row.no-spacing .tablet-full {
    width: 100%;
    margin: 0;
  }
  .row.no-spacing .tablet-half {
    width: 50%;
    margin: 0;
  }
  .row.no-spacing .tablet-third {
    width: 33.3333%;
    margin: 0;
  }
  .row.no-spacing .tablet-two-third {
    width: 66.6666%;
    margin: 0;
  }
  .row.no-spacing .tablet-fourth {
    width: 25%;
    margin: 0;
  }
  .row.no-spacing .tablet-three-fourth {
    width: 75%;
    margin: 0;
  }
  .row.no-spacing .tablet-fifth {
    width: 20%;
    margin: 0;
  }
  .row.no-spacing .tablet-two-fifth {
    width: 40%;
    margin: 0;
  }
  .row.no-spacing .tablet-three-fifth {
    width: 60%;
    margin: 0;
  }
  .row.no-spacing .tablet-four-fifth {
    width: 80%;
    margin: 0;
  }
  .row.no-spacing .tablet-sixth {
    width: 16.6666%;
    margin: 0;
  }
  .row.no-spacing .tablet-five-sixth {
    width: 83.3333%;
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .row .mobile-full {
    width: 98%;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .row .mobile-half,
  .row .mobile-two-fourth {
    width: 48%;
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -o-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  .row .mobile-third {
    width: 31.3333%;
    width: -webkit-calc(33.3333% - 20px);
    width: -moz-calc(33.3333% - 20px);
    width: -o-calc(33.3333% - 20px);
    width: calc(33.3333% - 20px);
  }
  .row .mobile-two-third {
    width: 64.6666%;
    width: -webkit-calc(66.6666% - 20px);
    width: -moz-calc(66.6666% - 20px);
    width: -o-calc(66.6666% - 20px);
    width: calc(66.6666% - 20px);
  }
  .row .mobile-fourth {
    width: 23%;
    width: -webkit-calc(25% - 20px);
    width: -moz-calc(25% - 20px);
    width: -o-calc(25% - 20px);
    width: calc(25% - 20px);
  }
  .row .mobile-three-fourth {
    width: 73%;
    width: -webkit-calc(75% - 20px);
    width: -moz-calc(75% - 20px);
    width: -o-calc(75% - 20px);
    width: calc(75% - 20px);
  }
  .row.no-spacing .mobile-full {
    width: 100%;
    margin: 0;
  }
  .row.no-spacing .mobile-half {
    width: 50%;
    margin: 0;
  }
  .row.no-spacing .mobile-third {
    width: 33.3333%;
    margin: 0;
  }
  .row.no-spacing .mobile-two-third {
    width: 66.6666%;
    margin: 0;
  }
  .row.no-spacing .mobile-fourth {
    width: 25%;
    margin: 0;
  }
  .row.no-spacing .mobile-three-fourth {
    width: 75%;
    margin: 0;
  }
}
