.row {
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  overflow: hidden;
  list-style: none;
}
.row.center {
  text-align: center;
}
.column,
[class*="span-"],
[class*="column-"] {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  /* prevent collapsing columns */

  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  *display: inline;
  /* For IE6/IE7 */

  *zoom: 1;
  /* For IE6/IE7 */
}
.row {
  margin: 0 -10px;
  margin: 0 -2% \9;
}
.column,
[class*="span-"],
[class*="column-"] {
  margin: 0 10px;
  margin: 0 2% \9;
}
@media only screen and (max-width: 768px) {
  .row {
    margin: 0 -16px;
    margin: 0 -2% \9;
  }
  .column,
  [class*="span-"],
  [class*="column-"] {
    margin: 0 16px;
    margin: 0 2% \9;
  }
}
@media only screen and (max-width: 480px) {
  .row {
    margin: 0 -10px;
    margin: 0 -2% \9;
  }
  .column,
  [class*="span-"],
  [class*="column-"] {
    margin: 0 10px;
    margin: 0 2% \9;
  }
}
.row .full {
  width: 98%;
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: calc(100% - 20px);
}
.row .half,
.row .two-fourth,
.row .three-sixth {
  width: 48%;
  width: -webkit-calc(50% - 20px);
  width: -moz-calc(50% - 20px);
  width: -o-calc(50% - 20px);
  width: calc(50% - 20px);
}
.row .third,
.row .two-sixth {
  width: 31.3333%;
  width: -webkit-calc(33.3333% - 20px);
  width: -moz-calc(33.3333% - 20px);
  width: -o-calc(33.3333% - 20px);
  width: calc(33.3333% - 20px);
}
.row .two-third {
  width: 64.6666%;
  width: -webkit-calc(66.6666% - 20px);
  width: -moz-calc(66.6666% - 20px);
  width: -o-calc(66.6666% - 20px);
  width: calc(66.6666% - 20px);
}
.row .fourth {
  width: 23%;
  width: -webkit-calc(25% - 20px);
  width: -moz-calc(25% - 20px);
  width: -o-calc(25% - 20px);
  width: calc(25% - 20px);
}
.row .three-fourth {
  width: 73%;
  width: -webkit-calc(75% - 20px);
  width: -moz-calc(75% - 20px);
  width: -o-calc(75% - 20px);
  width: calc(75% - 20px);
}
.row .fifth {
  width: 18%;
  width: -webkit-calc(20% - 20px);
  width: -moz-calc(20% - 20px);
  width: -o-calc(20% - 20px);
  width: calc(20% - 20px);
}
.row .two-fifth {
  width: 38%;
  width: -webkit-calc(40% - 20px);
  width: -moz-calc(40% - 20px);
  width: -o-calc(40% - 20px);
  width: calc(40% - 20px);
}
.row .three-fifth {
  width: 58%;
  width: -webkit-calc(60% - 20px);
  width: -moz-calc(60% - 20px);
  width: -o-calc(60% - 20px);
  width: calc(60% - 20px);
}
.row .four-fifth {
  width: 78%;
  width: -webkit-calc(80% - 20px);
  width: -moz-calc(80% - 20px);
  width: -o-calc(80% - 20px);
  width: calc(80% - 20px);
}
.row .sixth {
  width: 14.666599999999999%;
  width: -webkit-calc(16.6666% - 20px);
  width: -moz-calc(16.6666% - 20px);
  width: -o-calc(16.6666% - 20px);
  width: calc(16.6666% - 20px);
}
.row .five-sixth {
  width: 81.3333%;
  width: -webkit-calc(83.3333% - 20px);
  width: -moz-calc(83.3333% - 20px);
  width: -o-calc(83.3333% - 20px);
  width: calc(83.3333% - 20px);
}
.row.no-spacing .full {
  width: 100%;
  margin: 0;
}
.row.no-spacing .half {
  width: 50%;
  margin: 0;
}
.row.no-spacing .third {
  width: 33.3333%;
  margin: 0;
}
.row.no-spacing .two-third {
  width: 66.6666%;
  margin: 0;
}
.row.no-spacing .fourth {
  width: 25%;
  margin: 0;
}
.row.no-spacing .three-fourth {
  width: 75%;
  margin: 0;
}
.row.no-spacing .fifth {
  width: 20%;
  margin: 0;
}
.row.no-spacing .two-fifth {
  width: 40%;
  margin: 0;
}
.row.no-spacing .three-fifth {
  width: 60%;
  margin: 0;
}
.row.no-spacing .four-fifth {
  width: 80%;
  margin: 0;
}
.row.no-spacing .sixth {
  width: 16.6666%;
  margin: 0;
}
.row.no-spacing .five-sixth {
  width: 83.3333%;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .row .tablet-full {
    width: 98%;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .row .tablet-half,
  .row .tablet-two-fourth,
  .row .tablet-three-sixth {
    width: 48%;
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -o-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  .row .tablet-third,
  .row .tablet-two-sixth {
    width: 31.3333%;
    width: -webkit-calc(33.3333% - 20px);
    width: -moz-calc(33.3333% - 20px);
    width: -o-calc(33.3333% - 20px);
    width: calc(33.3333% - 20px);
  }
  .row .tablet-two-third {
    width: 64.6666%;
    width: -webkit-calc(66.6666% - 20px);
    width: -moz-calc(66.6666% - 20px);
    width: -o-calc(66.6666% - 20px);
    width: calc(66.6666% - 20px);
  }
  .row .tablet-fourth {
    width: 23%;
    width: -webkit-calc(25% - 20px);
    width: -moz-calc(25% - 20px);
    width: -o-calc(25% - 20px);
    width: calc(25% - 20px);
  }
  .row .tablet-three-fourth {
    width: 73%;
    width: -webkit-calc(75% - 20px);
    width: -moz-calc(75% - 20px);
    width: -o-calc(75% - 20px);
    width: calc(75% - 20px);
  }
  .row .tablet-fifth {
    width: 18%;
    width: -webkit-calc(20% - 20px);
    width: -moz-calc(20% - 20px);
    width: -o-calc(20% - 20px);
    width: calc(20% - 20px);
  }
  .row .tablet-two-fifth {
    width: 38%;
    width: -webkit-calc(40% - 20px);
    width: -moz-calc(40% - 20px);
    width: -o-calc(40% - 20px);
    width: calc(40% - 20px);
  }
  .row .tablet-three-fifth {
    width: 58%;
    width: -webkit-calc(60% - 20px);
    width: -moz-calc(60% - 20px);
    width: -o-calc(60% - 20px);
    width: calc(60% - 20px);
  }
  .row .tablet-four-fifth {
    width: 78%;
    width: -webkit-calc(80% - 20px);
    width: -moz-calc(80% - 20px);
    width: -o-calc(80% - 20px);
    width: calc(80% - 20px);
  }
  .row .tablet-sixth {
    width: 14.666599999999999%;
    width: -webkit-calc(16.6666% - 20px);
    width: -moz-calc(16.6666% - 20px);
    width: -o-calc(16.6666% - 20px);
    width: calc(16.6666% - 20px);
  }
  .row .tablet-five-sixth {
    width: 81.3333%;
    width: -webkit-calc(83.3333% - 20px);
    width: -moz-calc(83.3333% - 20px);
    width: -o-calc(83.3333% - 20px);
    width: calc(83.3333% - 20px);
  }
  .row.no-spacing .tablet-full {
    width: 100%;
    margin: 0;
  }
  .row.no-spacing .tablet-half {
    width: 50%;
    margin: 0;
  }
  .row.no-spacing .tablet-third {
    width: 33.3333%;
    margin: 0;
  }
  .row.no-spacing .tablet-two-third {
    width: 66.6666%;
    margin: 0;
  }
  .row.no-spacing .tablet-fourth {
    width: 25%;
    margin: 0;
  }
  .row.no-spacing .tablet-three-fourth {
    width: 75%;
    margin: 0;
  }
  .row.no-spacing .tablet-fifth {
    width: 20%;
    margin: 0;
  }
  .row.no-spacing .tablet-two-fifth {
    width: 40%;
    margin: 0;
  }
  .row.no-spacing .tablet-three-fifth {
    width: 60%;
    margin: 0;
  }
  .row.no-spacing .tablet-four-fifth {
    width: 80%;
    margin: 0;
  }
  .row.no-spacing .tablet-sixth {
    width: 16.6666%;
    margin: 0;
  }
  .row.no-spacing .tablet-five-sixth {
    width: 83.3333%;
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .row .mobile-full {
    width: 98%;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .row .mobile-half,
  .row .mobile-two-fourth {
    width: 48%;
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -o-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  .row .mobile-third {
    width: 31.3333%;
    width: -webkit-calc(33.3333% - 20px);
    width: -moz-calc(33.3333% - 20px);
    width: -o-calc(33.3333% - 20px);
    width: calc(33.3333% - 20px);
  }
  .row .mobile-two-third {
    width: 64.6666%;
    width: -webkit-calc(66.6666% - 20px);
    width: -moz-calc(66.6666% - 20px);
    width: -o-calc(66.6666% - 20px);
    width: calc(66.6666% - 20px);
  }
  .row .mobile-fourth {
    width: 23%;
    width: -webkit-calc(25% - 20px);
    width: -moz-calc(25% - 20px);
    width: -o-calc(25% - 20px);
    width: calc(25% - 20px);
  }
  .row .mobile-three-fourth {
    width: 73%;
    width: -webkit-calc(75% - 20px);
    width: -moz-calc(75% - 20px);
    width: -o-calc(75% - 20px);
    width: calc(75% - 20px);
  }
  .row.no-spacing .mobile-full {
    width: 100%;
    margin: 0;
  }
  .row.no-spacing .mobile-half {
    width: 50%;
    margin: 0;
  }
  .row.no-spacing .mobile-third {
    width: 33.3333%;
    margin: 0;
  }
  .row.no-spacing .mobile-two-third {
    width: 66.6666%;
    margin: 0;
  }
  .row.no-spacing .mobile-fourth {
    width: 25%;
    margin: 0;
  }
  .row.no-spacing .mobile-three-fourth {
    width: 75%;
    margin: 0;
  }
}
