@import "variables.less";
@import "core.less";
@import "../mixins/basic.less";

#gird {
	.basic-device-generator (@variables){
		@prefix: ;
		@columns: extract(@variables, 1);
		@withPrefix: extract(@variables, 2);
		@withSuffix: extract(@variables, 3);
		@withNoGutter: extract(@variables, 4);


		#grid > .basic (@prefix, @columns, @withPrefix, @withSuffix, @withNoGutter);
	}

	.basic-device-generator (@device, @breakpoint, @variables) {
		@prefix: ~"@{device}-";
		@columns: extract(@variables, 1);
		@withPrefix: extract(@variables, 2);
		@withSuffix: extract(@variables, 3);
		@withNoGutter: extract(@variables, 4);

		@media only screen and (max-width: @breakpoint) {
			#grid > .basic (@prefix, @columns, @withPrefix, @withSuffix, @withNoGutter);
		}
	}
}

#gird > .basic-device-generator(@grid-basic-default);
#gird > .basic-device-generator(tablet, 768px, @grid-basic-tablet);
#gird > .basic-device-generator(mobile, 480px, @grid-basic-mobile);