// Variables
// --------------------------------------------------
@grid-fontsize:  16px;
@grid-gutterWidth: 20px;
@grid-ie8-gutterWidth: 2%;
@grid-noGutterWidth: true;

@grid-tablet-prefix: tablet-;
@grid-tablet-breakpoint: 768px;
@grid-tablet-gutterWidth: 16px;

@grid-mobile-prefix: mobile-;
@grid-mobile-breakpoint: 480px;
@grid-mobile-gutterWidth: 10px;

// Basic
// --------------------------------------------------
@grid-basic-columns: 12;
@grid-basic-withPrefix: true;
@grid-basic-withSuffix: true;
@grid-basic-withNoGutter: true;

@grid-tablet-basic-columns: 10;
@grid-tablet-basic-withPrefix: true;
@grid-tablet-basic-withSuffix: true;
@grid-tablet-basic-withNoGutter: true;

@grid-mobile-basic-columns: 6;
@grid-mobile-basic-withPrefix: true;
@grid-mobile-basic-withSuffix: true;
@grid-mobile-basic-withNoGutter: true;

// Tiles
// --------------------------------------------------
@grid-tiles-columns: 12;
@grid-tiles-withNoGutter: true;

@grid-tablet-tiles-columns: 12;
@grid-tablet-tiles-withNoGutter: true;

@grid-mobile-tiles-columns: 6;
@grid-mobile-tiles-withNoGutter: true;

// Phrase
// --------------------------------------------------
@grid-phrase-columns: 6;
@grid-phrase-withNoGutter: true;

@grid-tablet-phrase-columns: 6;
@grid-tablet-phrase-withNoGutter: true;

@grid-mobile-phrase-columns: 4;
@grid-mobile-phrase-withNoGutter: true;

// Semantic
// --------------------------------------------------
@grid-semantic-column: 12;
@grid-semantic-gutterWidth: 20px;
@grid-semantic-totalWidth: 100%;