// Variables
// --------------------------------------------------
@grid-fontsize:  16px;
@grid-gutterWidth: 20px;

@grid-tablet-prefix: tablet-;
@grid-tablet-breakpoint: 768px;
@grid-tablet-gutterWidth: 16px;

@grid-mobile-prefix: mobile-;
@grid-mobile-breakpoint: 480px;
@grid-mobile-gutterWidth: 10px;

// basic
// --------------------------------------------------
@grid-basic-columns: 12;
@grid-basic-withPrefix: true;
@grid-basic-withSuffix: true;

@grid-tablet-basic-columns: 10;
@grid-tablet-basic-withPrefix: true;
@grid-tablet-basic-withSuffix: true;

@grid-mobile-basic-columns: 6;
@grid-mobile-basic-withPrefix: true;
@grid-mobile-basic-withSuffix: true;

// tiles
// --------------------------------------------------
@grid-tiles-columns: 12;

@grid-tablet-tiles-columns: 12;

@grid-mobile-tiles-columns: 6;

// phrase
// --------------------------------------------------
@grid-phrase-columns: sixth;

@grid-tablet-phrase-columns: sixth;

@grid-mobile-phrase-columns: fourth;