@import "semantic.less";

@grid-phrase-numerator:  one two three four five six seven eight nine ten eleven twelve;
@grid-phrase-denominator: full half third fourth fifth sixth;

#grid {
	.phrase (@grid-columns, @with-noGutter) {
		@namespace: ;
		#grid > .phrase (@namespace, @grid-columns, @with-noGutter);
	}
	.phrase (@namespace, @grid-columns, @with-noGutter, @has-gutter: true) {
		// define
		.denominatorX (@index) when (@index < @grid-columns + 1) {
			@denominator-word: extract(@grid-phrase-denominator, @index);
			.@{namespace}@{denominator-word} {
				#grid > .column-width (100%/@index, @has-gutter);
			}
			
			.numeratorX (@numerator) when (@numerator < @index) {
				@numerator-word: extract(@grid-phrase-numerator, @numerator);

				.@{namespace}@{numerator-word}-@{denominator-word} {
					#grid > .column-width ((100%/@index)*@numerator, @has-gutter);
				}
				.numeratorX (@numerator + 1);
			}

			.numeratorX (2);

			.denominatorX (@index + 1);
		}

		.withNoGutter (@with-noGutter) when(@with-noGutter = true){
			.no-gutter {
				#grid > .phrase (@namespace, @grid-columns, false, false);
			}
		}

		// generate
		.denominatorX (1);
		.withNoGutter (@with-noGutter);
	}
}